# === PYTHON / DJANGO ===
*.py[cod]
__pycache__/
*.sqlite3
*.log
.env
virtual/
env/
venv/
local_settings.py

# === DJANGO STATIC & MEDIA ===
staticfiles/
media/

# === NODE / NPM / REACT ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === BUILD / DIST ===
build/
dist/
*.tgz

# === VS CODE ===
.vscode/

# === SYSTEM FILES ===
.DS_Store
Thumbs.db