<!DOCTYPE html>  
<html lang="en">  
  <head>  
    <meta charset="UTF-8" />  
    <meta name="viewport" content="width=device-width, initial-scale=1" />  
    <title>Music Controller</title>  
    {% load static %}  
    <link  
      rel="stylesheet"  
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"  
    />  
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />  
  </head>  
  <body>  
    <div id="app">
      <div class="center">
        <h1>Welcome to Music Controller</h1>
      </div>
    </div>
    <script src="{% static 'frontend/main.js' %}"></script> <!-- Ensure this is correct -->
  </body>  
</html>
